html {
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.biggurn{
  width:800px;
	margin: 50px auto;
  font-family: 'Roboto', sans-serif;
  background-color: #74714a;
  border-radius:15px;
}

h1{
  font-size: 108px;
  font-weight: normal;
  margin-bottom: 10px;
  color: #d67747;
}

::-webkit-input-placeholder , li{
  color: #d67747;
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
}
::-webkit-input-placeholder{
   text-align: center;
}

#honey, .todoitems {
	
	background-color: #47a6d6;
  box-shadow: 0px 8px 10px #de7936, 
        -10px 8px 15px gray, 10px 8px 15px gray;
   margin:auto;
   width:750px;
}


 #didit, #words, .bigX{
  font-size: 48px;
  
}

#words, li, .bigX{
  color: #d67747;
  border: 0;
  outline: none;

}

li{
  width:90%;
  position: relative;
  list-style: none;
  text-align: left;
}

.bigX{
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  
}

.divButtons button{
  border:1px solid #d67747;
  font-family: 'Roboto', sans-serif;
  background-color: transparent;
  margin:15px;
}